<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <span class="copyright">&copy; {{site.title}} 2015</span>
      </div>
      <div class="col-sm-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/lottyandlee"><span class="icon-ji-facebook"></span></a></li>
          <li><a href="http://instagram.com/lottyandlee"><span class="icon-ji-instagram"></span></a></li>
          <li><a href="https://twitter.com/LottyandLee"><span class="icon-ji-twitter"></span></a></li>
        </ul>
      </div>
      <div class="col-sm-4 text-right">
        <a href="https://www.etsy.com/uk/shop/LottyandLeeVintage">Visit Our Shop</a>
      </div>
    </div>
  </div>
</footer>
