<section class="section-orange" id="we-buy">
  <div class="container">
    <div class="section-heading">
      <div class="icon icon-ji-smiley tada wow" data-wow-delay=".7s"></div>
      <h2><span class="ss01">W</span>e <span class="ss01">B</span>u<span class="ss02">y</span></h2>
    </div>
    <p class="section-subheading">Too much clutter?</p>
    <p class="section-lead">Let us find your unloved clothes and belongings a new home.</p>
    <div class="section-body">
      <div class="row">
        <div class="col-sm-4">
          <h3>Clothes</h3>
          <ul>
            <li>Men&rsquo;s and women&rsquo;s</li>
            <li>Evening and day wear</li>
            <li>1920s to 1990s</li>
            <li>Single items or entire collections</li>
            <li>Fur (but nothing endangered or banned please)</li>
            <li>Wedding and bridesmaid&rsquo;s attire</li>
          </ul>
          <h3>Jewellery</h3>
          <ul>
            <li>Costume</li>
            <li>Plastic</li>
            <li>No precious stones or highly valuable items please</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>Accessories</h3>
          <ul>
            <li>Hats</li>
            <li>Gloves</li>
            <li>Shoes</li>
            <li>Scarves</li>
            <li>Handbags</li>
            <li>Under garments</li>
            <li>Hoisery</li>
          </ul>
          <h3>Shop Fittings</h3>
          <ul>
            <li>Vintage tools</li>
            <li>Vintage shop fittings, hangers, mannequins and signage</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>Home Funiture and Fittings</h3>
          <ul>
            <li>Mid-century furniture (anything &lsquo;of the era&rsquo;)</li>
            <li>Textiles and fabrics</li>
            <li>Breweriana</li>
            <li>Retro kitchenalia and fittings</li>
            <li>Lamps and light fittings</li>
            <li>Ornaments, vases, glassware and tableware</li>
            <li>Retro and unusual telephones and radios</li>
            <li>Pictures, photos and mirrors</li>
            <li>Taxidermy, butterflies, insects and specimens (but nothing endangered or banned please)</li>
          </ul>
        </div>
      </div>
      <p class="section-lead">We&rsquo;re passionate about fashion and collectibles. We always pay a fair price.</p>
      <div class="section-action">
        <a class="btn btn-green page-scroll" href="#contact-us">Contact Us</a>
      </div>
    </div>
  </div>
</section>
