<section class="section-purple" id="we-hire">
  <div class="container">
    <div class="section-heading">
      <span class="icon icon-ji-disguise tada wow" data-wow-delay=".7s"></span>
      <h2><span class="ss01">W</span>e Hir<span class="ss01">e</span></h2>
    </div>
    <p class="section-subheading">Styling and props for photoshoots, film and corporate costume hire</p>
    <p class="section-lead">We work with photographers, make-up artists and models to breathe life into photography projects with period clothing, props and styling.</p>
    <div class="section-body">
      <div class="row">
        <div class="col-sm-6 col-md-4 text-center">
          <div class="polaroid polaroid-alt-1">
            <img src="/img/styling/1.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 text-center">
          <div class="polaroid polaroid-alt-2">
            <img src="/img/styling/2.jpg" class="img-responsive">
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-sm-6 col-md-4 text-center">
          <div class="polaroid polaroid-alt-3">
            <img src="/img/styling/3.jpg" class="img-responsive">
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="col-sm-6 col-md-4 text-center">
          <div class="polaroid polaroid-alt-4">
            <img src="/img/styling/4.jpg" class="img-responsive">
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-sm-6 col-md-4 text-center">
          <div class="polaroid polaroid-alt-1">
            <img src="/img/styling/5.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 text-center">
          <div class="polaroid polaroid-alt-2">
            <img src="/img/styling/6.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <p class="section-lead">If you&rsquo;re hosting a function, attending a corporate event or tradeshow, why not give it an air of authenticity with genuine vintage apparel?</p>
    <p class="section-lead">Please get in touch to find out more.</p>
    <div class="section-action">
      <a class="btn btn-green page-scroll" href="#contact-us">Contact Us</a>
    </div>
  </div>
</section>
