<section class="section-green" id="we-sell">
  <div class="container">
    <div class="section-heading">
      <span class="icon icon-ji-tag tada wow" data-wow-delay=".7s"></span>
      <h2><span class="ss01">W</span>e Sel<span class="ss03">l</span></h2>
    </div>
    <p class="section-subheading">Hand-picked vintage fashion, furniture and oddities</p>
    <div class="section-body">
      <div class="row">
        <div class="col-sm-6 text-center">
          <div class="polaroid polaroid-alt-1">
            <a href="https://www.etsy.com/uk/shop/LottyandLeeVintage">
              <img src="/img/locations/toad-hall-country-vintage.jpg" class="img-responsive" alt="Lotty &amp; Lee Vintage at Etsy">
            </a>
            <h4>Our Etsy Shop</h4>
            <p>Vintage treats shipped to your door</p>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <div class="polaroid polaroid-alt-2">
            <a href="http://www.bournemouthvintageemporium.com/">
              <img src="/img/locations/bournemouth-vintage-emporium.jpg" class="img-responsive" alt="Bournemouth Vintage Emporium">
            </a>
            <div class="tile-caption">
              <h4>Bournemouth Vintage Emporium</h4>
              <p>1172-1180 Christchurch Road, Bournemouth</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <div class="polaroid polaroid-alt-3">
            <a href="http://www.mollys-den.co.uk/">
              <img src="/img/locations/mollys-den-bournemouth.jpg" class="img-responsive" alt="Molly&rsquo;s Den">
            </a>
            <h4>Molly&rsquo;s Den Bournemouth</h4>
            <p>11-15 Francis Avenue, Bournemouth</p>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <div class="polaroid polaroid-alt-4">
            <a href="http://www.mollys-den.co.uk/">
              <img src="/img/locations/mollys-den-bridport.jpg" class="img-responsive" alt="Molly&rsquo;s Den">
            </a>
            <h4>Molly&rsquo;s Den Bridport</h4>
            <p>St Andrew&rsquo;s Trading Estate, Bridport</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
