<section class="section-yellow" id="we-travel">
  <div class="container">
    <div class="section-heading">
      <span class="icon icon-ji-bicycle tada wow" data-wow-delay=".7s"></span>
      <h2><span class="ss01">W</span>e <span class="ss01">T</span>rave<span class="ss02">l</span></h2>
    </div>
    <p class="section-subheading">Peddling our wares at vintage fairs</p>
    <div class="section-body">
      <div class="row">
        <div class="col-sm-6">
          <h3>Saturday 22<sup>nd</sup> November 2014</h3>
          <p>Spanning the 1920s-1990s, a vintage tea party, a vintage hair salon &amp; live acts from 12pm to 5pm. Winner of &lsquo;Best Vintage Fair&rsquo; in the UK 2013 &amp; 2014.</p>
        </div>
        <div class="col-sm-6 text-center">
          <div class="polaroid polaroid-alt-2">
            <a href="https://www.facebook.com/events/691106674270133">
              <img alt="Lou Lou&rsquo;s Vintage Fair" class="img-responsive" src="/img/events/2014-11-22.jpg" />
            </a>
            <h4>Lou Lou&rsquo;s Portsmouth Vintage Fair</h4>
            <p>Guild Hall, Portsmouth</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <h3>Saturday 6<sup>th</sup> December 2014</h3>
          <p>An intimate local market set in the beautiful and bustling Victorian Royal Arcade, from 10am to 4pm.</p>
        </div>
        <div class="col-sm-6 col-sm-pull-6 text-center">
          <div class="polaroid polaroid-alt-3">
            <a href="https://www.facebook.com/BoscombeVintageMarket">
              <img alt="Boscombe Vintage Market" class="img-responsive" src="/img/events/2014-12-06.jpg" />
            </a>
            <h4>Boscombe Vintage Market</h4>
            <p>The Royal Arcade, Boscombe</p>
          </div>
        </div>
      </div>
    </div>
    <p class="section-lead">If you&rsquo;d like us to attend an event or fair, please contact us.</p>
    <div class="section-action">
      <a class="btn btn-green page-scroll" href="#contact-us">Contact Us</a>
    </div>
  </div>
</section>
